<div class="about">
<div class="about__devider">*****</div>
<div class="about__text">
<strong> Check out my github, linkedin or freelancermap. <br> Thanks for visiting. </strong>
<br>
<p>
<!-- <div class="row">     -->
<a href="https://github.com/thlautenschlaeger"><i class="fa fa-github" style="font-size:42px;color:black"></i></a>
<a href="https://www.linkedin.com/in/thlautenschlaeger/"><i class="fa fa-linkedin-square" style="font-size:42px;color:#0072b1"></i></a>
<a href="https://www.freelancermap.com/freelancers-directory/profile/development/388372-profil-thomas-lautenschlaeger-machine-learning-scientist-quant-analyst.html"  title="Thomas Lautenschlaeger"><img loading="lazy" style="display:inline" src="https://www.freelancermap.com/images/widgets/button/square-32.png"></a>
<!-- </div> -->
</p>
<br>
<!-- <br> You can change this text in _includes/page/about.html -->
</div>
</div>