<footer class="about">
  <div class="about__devider">·&nbsp;&nbsp;·&nbsp;&nbsp;·</div>
  <div class="about__text">
    <p>Interested in working together? Find me here:</p>
    <ul class="about__links">
      <li><a href="https://github.com/{{ site.author.github }}" target="_blank" rel="noopener">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank" rel="noopener">LinkedIn</a></li>
      <li><a href="{{ site.author.freelancermap }}" target="_blank" rel="noopener">freelancermap</a></li>
    </ul>
  </div>
</footer>
