<div class="about">
<div class="about__devider">*****</div>
<div class="about__text">
<strong> Check out my github, linkedin or freelancermap. <br> Thanks for visiting. </strong>
<br>
  <p style="display: flex; align-items: center; gap: 15px;">
  <a href="https://github.com/thlautenschlaeger" target="_blank">
    <i class="fa fa-github" style="font-size:42px;color:black"></i>
  </a>
  <a href="https://www.linkedin.com/in/thlautenschlaeger/" target="_blank">
    <i class="fa fa-linkedin-square" style="font-size:42px;color:#0072b1"></i>
  </a>
  <a href="https://www.freelancermap.de/profil/thomas-lautenschlaeger" target="_blank" title="Profil von Thomas Lautenschläger auf www.freelancermap.de">
    <img src="https://www.freelancermap.de/assets/logo/logo-black.svg" alt="Freelancermap" style="height:32px; vertical-align:middle;">
  </a>
</p>
<br>
<!-- <br> You can change this text in _includes/page/about.html -->
</div>
</div>
