<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.url == "/" %}
<title>{{ site.title }} — Machine Learning Engineer</title>
{% else %}
<title>{{ page.title }} · {{ site.title }}</title>
{% endif %}
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<meta property="og:title" content="{% if page.url == '/' %}{{ site.title }}{% else %}{{ page.title }} · {{ site.title }}{% endif %}">
<meta property="og:description" content="{{ site.description | strip_newlines }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:image" content="{{ '/assets/img/t.jpg' | absolute_url }}">
<link rel="icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}">
